<div>
  <app-header
    [inputValue]="updateInputValue"
    (inputValueChange)="updateInputSearchValue($event)"
    (isFavoriteOpen)="handleOpenFavoriteModal()"
    (onEnterKey)="onEnterKey()"
    [count]="count"
  ></app-header>
  <app-loader *ngIf="loading" />
  <app-error-message [message]="errMessage" />
  <div class="container">
    <app-current-weather
      *ngIf="loading === false && !errMessage"
      [weather]="weather"
      [isLoading]="loading"
      (handleFavoriteData)="handleFavoriteData($event)"
      (handleUpdateFavorite)="handleUpdateFavorite($event)"
    />
    <app-favorite
      *ngIf="!errMessage && !loading"
      [isFavorite]="isFavorite"
      (closeFavorite)="handleCloseFavoriteModal()"
      [favoriteData]="favoriteData"
      (onFavorite)="onFavorite($event)"
    />
  </div>
</div>
