.container {
  display: flex;
  gap: 2.4rem;
  justify-content: center;
  margin-top: 40px;
  width: 100%;
}
@media (max-width: 768px) {
  .container {
    display: block !important;
    margin-top: 10rem;
    margin-bottom: 10px;
  }
}
