<div class="layout">
  <app-header
    [inputValue]="updateInputValue"
    (inputValueChange)="updateInputSearchValue($event)"
    (isFavoriteOpen)="handleOpenFavoriteModal()"
    (onEnterKey)="onEnterKey()"
    [count]="count"
  ></app-header>
  <app-cities
    *ngIf="isCityOpen"
    (handleCity)="handleCity($event)"
    (getLocation)="getLocation($event.latitude, $event.longitude)"
  />
  <app-loader *ngIf="loading" />
  <!-- <app-error-message [message]="errMessage" /> -->
  <div class="container">
    <app-current-weather
      *ngIf="loading === false && !errMessage && isCurrentWeather"
      [weather]="weather"
      [isLoading]="loading"
      (handleFavoriteData)="handleFavoriteData($event)"
      (handleUpdateFavorite)="handleUpdateFavorite($event)"
    />
    <app-favorite
      *ngIf="!errMessage && !loading"
      [isFavorite]="isFavorite"
      (closeFavorite)="handleCloseFavoriteModal()"
      [favoriteData]="favoriteData"
      (onFavorite)="handleWeatherByCityName($event)"
      (handleDeleteFavorite)="handleDeleteFavorite()"
    />
  </div>
</div>
